#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

secrets.json
config.json
*.pem
*.pwsh
*.ign

# for OSP UPI
clouds.yaml
metadata.json
