#!/bin/bash
set -x

# Dont run on Atomic/RHCOS host
[ -e /run/ostree-booted ] && exit 0

# Log all output to file.
exec > >(tee -a /var/log/bash_script.log) 2>&1

# set UK timezone
ln -sf /usr/share/zoneinfo/UTC /etc/localtime

retry() {
   count=0
   until [ $count -ge 5 ]
   do
      $@ && break  # substitute your command here
      count=$[$count+1]
      sleep 15
   done
}
# get and install katello package from our satellite server
retry curl -k -o /tmp/katello-ca-consumer-latest.noarch.rpm https://{{ satellite_fqdn }}/pub/katello-ca-consumer-latest.noarch.rpm 
rpm -Uvh /tmp/katello-ca-consumer-latest.noarch.rpm 

# register with redhat
retry subscription-manager register --org {{ rhn_orgid  }} --activationkey {{ rhn_activationkey }} --force

# install katello agent from specific repo and then disable
subscription-manager repos --enable=rhel-7-server-satellite-tools-6.5-rpms
yum install -y katello-agent

# determine pool ID's for red hat subscriptions
openshiftPoolId=$(subscription-manager list --available --matches='Red Hat OpenShift Container Platform for Certified Cloud and Service Providers' | awk '/System Type:\s*Physical/' RS='\n\n' | awk '/Pool ID/ {print $NF}')

# setup repos & install software packages
subscription-manager attach --pool=$openshiftPoolId
retry subscription-manager repos --disable=*

retry subscription-manager repos \
        --enable=rhel-7-server-rpms \
        --enable=rhel-7-server-extras-rpms \
        --enable=rhel-7-server-rh-common-rpms \
        --enable=rhel-7-server-ansible-2.6-rpms \
        --enable=rhel-7-server-satellite-tools-6.5-rpms

retry yum install -y \
        python-oslo-log \
        python-psutil \
        ansible

retry yum install -y \
        wget \
        git \
        podman \
        net-tools \
        bind-utils \
        iptables-services \
        bridge-utils \
        bash-completion \
        kexec-tools \
        sos \
        psacct \
        vim \
        python-virtualenv \
        tmux

retry yum update -y
yum clean all

retry systemctl enable rhsmcertd --now

