{
  "clusterid": "ocp4test",
  "basedomain": "cna.ukcloud.uk",
  "bastion": {
    "hostname": "bastion-0",
    "ipaddress": "10.1.1.254",
    "registry": "registry.example.com"
  },
  "bootstrap": {
    "hostname": "bootstrap-0",
    "ipaddress": "10.1.1.250"
  },
  "svcs": [
    {
      "hostname": "svc-0",
      "ipaddress": "10.1.1.15"
    },
    {
      "hostname": "svc-1",
      "ipaddress": "10.1.1.16"
    }
  ],
  "masters": [
    {
      "hostname": "master-0",
      "ipaddress": "10.1.1.10"
    },
    {
      "hostname": "master-1",
      "ipaddress": "10.1.1.11"
    },
    {
      "hostname": "master-2",
      "ipaddress": "10.1.1.12"
    }
  ],
  "infras": [
    {
      "hostname": "infra-0",
      "ipaddress": "10.1.1.20"
    },
    {
      "hostname": "infra-1",
      "ipaddress": "10.1.1.21"
    }
  ],
  "smallworkers": [
    {
      "hostname": "worker-s-0",
      "ipaddress": "10.1.1.25"
    },
    {
      "hostname": "worker-s-1",
      "ipaddress": "10.1.1.26"
    }
  ],
  "mediumworkers": [],
  "largeworkers": [],
  "network": {
    "networkip": "10.1.1.0",
    "maskprefix": "24",
    "defaultgw": "10.1.1.1",
    "upstreamdns1": "1.1.1.1",
    "upstreamdns2": "1.0.0.1"
  },
  "loadbalancer": {
    "externalvip": "51.9.9.9",
    "internalvip": "10.1.1.1"
  },
  "sshpubkey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAA ..... ONO+WJe5kAdO+Quiy/7LdKRxzfYA/OKXjsU7+wHCFX14tD53mao1FP1na0Q== admin@localhost.localdomain",
  "vsphere": {
    "vsphere_server": "vcenter ip / name",
    "vsphere_cluster": "cluster name",
    "vsphere_resourcepool": "ocp4test",
    "vsphere_folder": "ocp4test",
    "vsphere_datacenter": "Datacenter",
    "vsphere_datastore": "datastorename",
    "vsphere_edge": "vse-VSHIELDNAME (ddddddd-eeee-ffff-22224-33382140355)",
    "vsphere_transportzone": "PvDC.VXLAN-NP",
    "vsphere_network": "dvs.VCDVSNetworkName36370-cb31-40c1-8cc6-036a3b8e1e39",
    "vsphere_portgroup": "vxw-dvs-32-virtualwire-5-sid-16001-dvs.VCDVSNetworkname36370-c",
    "rhcos_template": "rhcos-4.2.0-template"
  },
  "ignition": {
    "master_ignition": "",
    "worker_ignition": "",
    "infra_ignition": "",
    "svc_ignition": "",
    "bootstrap_ignition_url": ""
  }
}
