{
  "rhpullsecret": pullsecret_json_not_in_quotes,
  "rheltemplatepw": "passwordhere",
  "registrytoken": "tokentoaccessregistry (empty if using anon-pull)",
  "vcenterdeploy": {
    "username": "User@vsphere.local",
    "password": "passwordhere"
  },
  "vcentervolumeprovisioner": {
    "username": "User@vsphere.local",
    "password": "passwordhere"
  },
  "dns": {
    "username": "username",
    "password": "passwordhere"
  },
  "objectstorage": {
    "accesskey": "accesskey",
    "secretkey": "secretkey",
    "bucketname": "bucketname",
    "regionendpoint": "regionendpoint"
  }
}
