{
  "rhpullsecret": pullsecret_json_not_in_quotes,
  "registrytoken": "tokentoaccessregistry",
  "vcenterdeploy": {
    "username": "User@vsphere.local",
    "password": "passwordhere"
  },
  "vcentervolumeprovisioner": {
    "username": "User@vsphere.local",
    "password": "passwordhere"
  },
  "dns": {
    "username": "username",
    "password": "passwordhere"
  },
  "registrytoken": "<tokentopullcontainers>"
}
