apiVersion: v1
baseDomain: "<%= $basedomain %>" #generate from basedomain
metadata:
  name: "<%= $clusterid %>"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 3
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3 
networking:
  machineCIDR: "<%= $machinecidr %>" #generate from network.networkip and network.maskprefix e.g 192.168.0.0/24
platform:
  vsphere:
    vCenter: "<%= $vcenterserver %>" #generate from vsphere.vsphere_server
    username: "<%= $vcenteruser %>" #generate from secret.vcenterdeploy.username
    password: "<%= $vcenterpassword %>" #generate from secret.vcenterdeploy.password
    datacenter: "<%= $vcenterdatacenter %>" #generate from vsphere.vsphere_datacenter
    defaultDatastore: "<%= $vsandatastore %>" #generate from vsphere.vsphere_datastore
pullsecret: '<%= $pullsecret %>' #generate from secret.rhpullsecret
sshKey: '<%= $sshpubkey %>' #generate from sshpubkey
