[all:children]
bastion
masters
workers
infras
svcs

[bastion]

[masters]
master-0.cluster.domain
master-1.cluster.domain
master-2.cluster.domain

[workers]
worker-s-0.cluster.domain
worker-s-1.cluster.domain

[infras]

[svcs]


[all:vars]
ntp_server1=0.uk.pool.ntp.org
ntp_server2=1.uk.pool.ntp.org
dns_server1=1.1.1.1
dns_server2=1.0.0.1

ansible_ssh_user=core
ansible_become=yes
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
