// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "example-cluster"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "example-cluster.devcluster.openshift.com"

// Base domain from which the cluster domain is a subdomain.
base_domain = "devcluster.openshift.com"

// Name of the vSphere server.
vsphere_server = "vcsa.vmware.devcluster.openshift.com"

// User on the vSphere server.
vsphere_user = "YOUR_USER"

// Password of the user on the vSphere server.
vsphere_password = "YOUR_PASSWORD"

// Name of the vSphere cluster.
vsphere_cluster = "devel"

// Name of the vSphere data center.
vsphere_datacenter = "dc1"

// Name of the vSphere data store to use for the VMs.
vsphere_datastore = "nvme-ds1"

// Name of the VM template to clone to create VMs for the cluster.
vm_template = "rhcos-latest"

// Name of the network to attach VM's to in vSphere
vm_network = "vxw-dvs-49-virtualwire-2-sid-5001-OpenShift4"

// The network_cidr where IP addresses will be assigned for cluster nodes.
network_cidr = "10.0.0.0/24"

// DNS settings (dns1 and, optionally, dns2), which are set along with the static IP - may be svc machines
dns1 = "8.8.8.8"
// dns2 = "8.8.4.4"

// The number of master VMs to create. Default is 3.
master_count = 3

// The number of worker VMs of each size to create.
worker_small_count = 2
worker_medium_count = 0
worker_large_count = 0

// The number of worker infra VMs to create
infra_count = 0

// The number of svc VMs to create
svc_count = 2

// URL of the bootstrap ignition. This needs to be publicly accessible so that the bootstrap machine can pull the ignition.
bootstrap_ignition_url = "URL_FOR_YOUR_BOOTSTRAP_IGNITION"

// Ignition config for the master machines. You should copy the contents of the master.ign generated by the installer.
master_ignition = <<END_OF_MASTER_IGNITION
Copy the master ignition generated by the installer here.
END_OF_MASTER_IGNITION

// Ignition config for the worker machines. You should copy the contents of the worker.ign generated by the installer.
worker_ignition = <<END_OF_WORKER_IGNITION
Copy the worker ignition generated by the installer here.
END_OF_WORKER_IGNITION

// Ignition config for the service machines.
svc_ignition = <<END_OF_SVC_IGNITION 
Copy the svc ignition here.
END_OF_SVC_IGNITION

// By default, the IPs of the first machine of each type are set the same relative to network_cidr
// These defaults are in variables.tf and don't usually need to be changed
// gateway IP defaults to .254
