$ORIGIN {{ domain_suffix }}.
$TTL 60s
@    IN    SOA    dns1.{{ domain_suffix }}.    hostmaster.{{ domain_suffix }}. (
            {{ ansible_date_time.epoch }} ; serial
            21600      ; refresh after 6 hours
            3600       ; retry after 1 hour
            604800     ; expire after 1 week
            86400 )    ; minimum TTL of 1 day


    IN    NS    dns1.{{ domain_suffix }}.
    IN    NS    dns2.{{ domain_suffix }}.

{% set count = 1 %}
{% for hostname in groups.svcs %}
dns{{ count }}         IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

api          IN      A       {{ external_lb_ip }}
api-int      IN      A       {{ default_gateway }}

*.apps       IN      A       {{ external_lb_ip }}

{% set count =0 %}
{% for hostname in groups.masters %}
etcd-{{ count }}       IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.masters %}
_etcd-server-ssl._tcp IN SRV 0 10 2380 etcd-{{ count}}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.masters %}
{{ hostname.split('.')[0] }}     IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.workers %}
{{ hostname.split('.')[0] }}   IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.infras %}
{{ hostname.split('.')[0] }}  IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.svcs %}
{{ hostname.split('.')[0] }}        IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.bastion %}
{{ hostname.split('.')[0] }}  IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}

{% set count =0 %}
{% for hostname in groups.bootstrap %}
{{ hostname.split('.')[0] }}  IN      A       {{ hostvars[hostname].ip }}
{% set count = count + 1 %}
{% endfor %}


*            IN      A       {{ external_lb_ip }}
