<dhcp>
  <enabled>true</enabled>
  <ipPools>
    <ipPool>
      <autoConfigureDNS>false</autoConfigureDNS>
      <defaultGateway><%= $defaultgw %></defaultGateway>
      <primaryNameServer><%= $dnsip %></primaryNameServer>
      <leaseTime>480</leaseTime>
      <subnetMask><%= $longmask %></subnetMask>
      <dhcpOptions>
        <option26>1400</option26>
      </dhcpOptions>
      <poolId>pool-1</poolId>
      <ipRange><%= $dhcprange %></ipRange>
      <allowHugeRange>false</allowHugeRange>
    </ipPool>
  </ipPools>
  <logging>
    <enable>false</enable>
    <logLevel>info</logLevel>
  </logging>
</dhcp>
