[Unit]
Description=CoreDNS container
Wants=crio.service
[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/podman stop coredns
ExecStart=/usr/bin/podman run --rm=true -a=STDOUT --name coredns -v /etc/coredns:/etc/coredns:z --network host -p 53:53/udp {{ registry_url }}/coredns:{{ image_tag }} --conf /etc/coredns/Corefile
ExecStop=/usr/bin/podman stop coredns
[Install]
WantedBy=multi-user.target
